[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./wait_for_postgres.py,settings
       ./config/settings/*,
       ./config/wsgi.py,
       *__init__*
