[run]
branch = True
omit = *migrations*,
       *urls*,
       *test*,
       *admin*,
       ./manage.py,
       ./wait_for_postgres.py,
       ./API/config/*,
       ./API/wsgi.py,
       *__init__*
